<div class="panes"
     [@slide]="activePane"
     (@slide.start)="captureStartEvent($event)"
     (@slide.done)="captureDoneEvent($event)">
  <div class="mat-c-primary">
    <ng-content select="[leftPane]"></ng-content>
  </div>
  <div class="mat-c-accent">
    <ng-content select="[middlePane]"></ng-content>
  </div>
  <div class="mat-c-warn">
    <ng-content select="[rightPane]"></ng-content>
  </div>
</div>


<!--host: {
'[@slide]': '',
'(@slide.start)': 'captureStartEvent($event)',
'(@slide.done)': 'captureEndEvent($event)'
},-->
