:host {
  display: block;
  overflow: hidden;
  border-radius: 5px;
}

/*.panes {
  height: 100%;
  width: 200%;

  display: flex;
  div {
    flex: 1;
  }
}*/

.panes {
  height: 100%;
  width: 300%;

  display: flex;
  div {
    flex: 1;
    padding: 20px;
  }
}
