<main [ngStyle]="{  'padding': '5px',
                    'height': '100%',
                    'overflow-y': 'auto',
                    'border': '0px solid green',
                    'box-sizing': 'border-box'}">
  <mat-card [ngStyle]="{'margin-bottom': '5px'}">
    <mat-card-title>
      Color theming
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content [ngStyle]="{ 'text-align': 'center',
                                   'margin-bottom': '10px',
                                   'padding-top': '10px'}">
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'primary'"
              (click)="themeService.change_theme('default', themeService.theme_type)">
        Default
      </button>
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'accent'"
              (click)="themeService.change_theme('default', themeService.theme_type)">
        Default
      </button>
      <button mat-raised-button
              [color]="'warn'"
              (click)="themeService.change_theme('default', themeService.theme_type)">
        Default
      </button>
    </mat-card-content>
    <mat-card-content [ngStyle]="{ 'text-align': 'center',
                                   'margin-bottom': '10px'}">
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'primary'"
              (click)="themeService.change_theme('unicorn', themeService.theme_type)">
        Theme 1
      </button>
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'accent'"
              (click)="themeService.change_theme('unicorn', themeService.theme_type)">
        Theme 1
      </button>
      <button mat-raised-button
              [color]="'warn'"
              (click)="themeService.change_theme('unicorn', themeService.theme_type)">
        Theme 1
      </button>
    </mat-card-content>
    <mat-card-content [ngStyle]="{ 'text-align': 'center'}">
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'primary'"
              (click)="themeService.change_theme('colibri', themeService.theme_type)">
        Theme 2
      </button>
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'accent'"
              (click)="themeService.change_theme('colibri', themeService.theme_type)">
        Theme 2
      </button>
      <button mat-raised-button
              [color]="'warn'"
              (click)="themeService.change_theme('colibri', themeService.theme_type)">
        Theme 2
      </button>
    </mat-card-content>
    <!--<mat-card-content [ngStyle]="{ 'text-align': 'center'}">
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'primary'"
              (click)="themeService.change_theme('asterix-1', themeService.theme_type)">
        Theme 3
      </button>
      <button mat-raised-button
              [ngStyle]="{'margin-right': '10px'}"
              [color]="'accent'"
              (click)="themeService.change_theme('asterix-1', themeService.theme_type)">
        Theme 3
      </button>
      <button mat-raised-button
              [color]="'warn'"
              (click)="themeService.change_theme('asterix-1', themeService.theme_type)">
        Theme 3
      </button>
    </mat-card-content>-->
  </mat-card>
  <!--
  --
  --
  --
  -->
  <mat-card [ngStyle]="{'margin-bottom': '5px'}">
    <mat-card-title>
      Background theming
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content [ngStyle]="{ 'text-align': 'center',
                                   'margin-bottom': '10px',
                                   'padding-top': '10px'}">
      <mat-button-toggle-group [value]="themeService.theme_type">
        <mat-button-toggle value="light"
                           (click)="themeService.change_theme(themeService.theme_name, 'light')">
          light
        </mat-button-toggle>
        <mat-button-toggle value="dark"
                           (click)="themeService.change_theme(themeService.theme_name, 'dark')">
          dark
        </mat-button-toggle>
        <!-- <mat-button-toggle value="yellow"
                           (click)="themeService.change_theme(themeService.theme_name, 'yellow')">
          yellow
        </mat-button-toggle> -->
      </mat-button-toggle-group>
    </mat-card-content>
  </mat-card>
  <!--
  --
  --
  --
  -->
  <!-- <mat-card>
    <mat-card-title>
      Material items
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content [ngStyle]="{ 'text-align': 'center',
                                   'margin-bottom': '10px',
                                   'padding-top': '10px'}">
      <mat-form-field>
        <mat-label>Test select-box</mat-label>
        <mat-select [value]="'/theme'"
                    (selectionChange)="''">
          <mat-option [value]="'/touch'">Touch</mat-option>
          <mat-option [value]="'/scroll'">Scroll</mat-option>
          <mat-option [value]="'/theme'">Theme</mat-option>
          <mat-option [value]="'/animation'">Animation</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <br/>
    <mat-card-content [ngStyle]="{ 'text-align': 'center',
                                   'margin-bottom': '10px'}">
      <mat-form-field>
        <mat-label>Test input-field</mat-label>
        <input matInput
               type="text"
               placeholder="-- ... --"
               autocomplete="off"
               value="test input"/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content [ngStyle]="{ 'text-align': 'center',
                                   'margin-bottom': '10px'}">
      <mat-checkbox checked="true" color="primary">
        test checkbox
      </mat-checkbox>
    </mat-card-content>
    <mat-card-content [ngStyle]="{ 'text-align': 'center',
                                   'margin-bottom': '10px'}">
      <mat-radio-group value="1">
        <mat-radio-button value="1"
                          [ngStyle]="{'margin-right': '10px'}">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card> -->
</main>
