<section [ngStyle]="{   'position': 'fixed',
                        'top': '11px',
                        'right': '5px',
                        'padding': '10px',
                        'border': '1px solid black',
                        'border-radius': '5px'}"
         [ngClass]="{ 'mat-c-primary': number_array_length === 80,
                      'mat-c-accent': number_array_length === 120,
                      'mat-c-warn': number_array_length >= 160,
                      'white': number_array_length < 80,
                      'handleOnAnimation': true}">
  {{number_array.length}}
</section>
<!-------------------->
<button mat-raised-button
        color="primary"
        [ngStyle]="{  'position': 'fixed',
                      'bottom': '5px',
                      'left': '5px',
                      'z-index': '999999'}"
        (click)="scroll_to_top(container)">
  <mat-icon>
    arrow_upward
  </mat-icon>
</button>
<!-------------------->
<main
  [ngStyle]="{  'position': 'relative',
                'box-sizing': 'border-box',
                'border': '0px solid red',
                'height': '100%',
                'width': '100%',
                'overflow-y': 'scroll',
                'padding': '0px 5px 0px 5px',
                'display': 'flex',
                'flex-wrap': 'wrap',
                 'justify-content': 'center'}"
  #container class="container"
  (scroll)="new_content_is_loading === false ? on_scroll($event) : ''">
  <article id="scroll-content"
           [ngStyle]="{   'width': '100%'}">
    <section *ngFor="let j of number_array"
             [ngClass]="{'mat-c-primary': j % 40 === 0 && number_array_length === 80,
                       'mat-c-accent': j % 40 === 0 && number_array_length === 120,
                       'mat-c-warn': j % 40 === 0 && number_array_length >= 160,
                       'mat-c-grey': (j % 40 !== 0 && j % 10 === 0) || (j % 10 === 0 && number_array_length < 80),
                       'mat-c-background': j % 10 !== 0}"
             [ngStyle]="{ 'border-bottom': '1px solid black',
                        'box-sizing': 'border-box',
                        'text-align': 'center',
                        'padding': '10px'}">
      {{j}}
    </section>
  </article>
  <article *ngIf="new_content_is_loading === true"
           [ngStyle]="{ 'width' : '100%',
                      'display': 'flex',
                      'justify-content': 'center',
                      'margin-top': '10px;',
                      'padding': '10px'}">
    <mat-spinner [strokeWidth]="5"
                 [diameter]="25">
    </mat-spinner>
  </article>
</main>
<!--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
-->
<!--<div>
     {{scroll_height}}
   </div>-->
<!-- <div>
   {{scroll_top}}
 </div>-->
<!--<div>
  {{offset_height}}
</div>
<div>
  {{offset_height_custom}}
</div>-->
<!--<div>
  {{offset_height_custom_and_scroll_top}}
</div>-->
