<mat-form-field color="primary">
  <mat-select [value]="url"
              (selectionChange)="change_url($event.value)">
    <!-- <mat-option [value]="'/touch'">Touch</mat-option> -->
    <mat-option [value]="'/scroll'">Scroll</mat-option>
    <mat-option [value]="'/theme'">Theme</mat-option>
    <!-- <mat-option [value]="'/animation'">Animation</mat-option> -->
    <!-- <mat-option [value]="'/upload'">Upload</mat-option> -->
    <!--<mat-option [value]="'/test'">Test</mat-option>-->
  </mat-select>
</mat-form-field>
