@use '~@angular/material' as mat;
@mixin app-root-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-root {
    background-color: mat.get-color-from-palette($background, background);
    color: mat.get-color-from-palette($foreground, text);
  }

  .mat-c-primary {
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  .mat-c-accent {
    background-color: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, default-contrast);
  }

  .mat-c-warn {
    background-color: mat.get-color-from-palette($warn);
    color: mat.get-color-from-palette($warn, default-contrast);
  }

  .mat-c-grey {
    background-color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette));
    color: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), default-contrast);
  }

  .mat-c-white {
    background-color: white;
    color: black;
  }

  .mat-c-background {
    background-color: mat.get-color-from-palette($background, background);
    // background-color: yellow;
    color: mat.get-color-from-palette($foreground, text);
  }
}
