<nav [ngStyle]="{   'position': 'fixed',
                    'background-color': 'yellow',
                    'top': '0px',
                    'width': '100%',
                    'height': '64px'}">
  <mat-toolbar color="primary"
               style="  height: 64px !important;
                        padding-left: 5px;">
    <app-menu></app-menu>
  </mat-toolbar>
</nav>
<main [ngStyle]="{    'position': 'fixed',
                      'top': '64px',
                      'height': 'calc(100% - 64px)',
                      'width': '100%',
                      'border': '0px solid green',
                      'box-sizing': 'border-box',
                      'padding': '0px'}"
      [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
