<main style="padding: 5px;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="hidden" name="PHP_SESSION_UPLOAD_PROGRESS" value="myForm" />
    <input type="file" name="avatar" (change)="onFileSelect($event)" />
    <br/>
    <button type="submit">Upload</button>
  </form>
</main>
