<main class="mat-c-background"
      [ngStyle]="{  'height': '100%',
                    'border': '0px solid red',
                    'padding': '5px'}">
  <mat-card [ngStyle]="{'margin-bottom': '5px'}">
    <app-my-slide-panel [activePane]="activePane">
      <div leftPane>LEFT</div>
      <div middlePane>MIDDLE</div>
      <div rightPane>RIGHT</div>
    </app-my-slide-panel>
  </mat-card>
  <!--------------
  --
  --------------->
  <mat-card [ngStyle]="{  'margin-bottom': '5px',
                          'text-align': 'center'}">
    <button mat-raised-button
            color="primary"
            [disabled]="activePane === 'left'"
            [ngStyle]="{'margin-right': '5px', 'opacity': activePane === 'left' ? 1 : 1}"
            (click)="activePane = 'left'">left
    </button>
    <button mat-raised-button
            color="accent"
            [disabled]="activePane === 'middle'"
            [ngStyle]="{'margin-right': '5px', 'opacity': activePane === 'middle' ? 1 : 1}"
            (click)="activePane = 'middle'">middle
    </button>
    <button mat-raised-button
            color="warn"
            [disabled]="activePane === 'right'"
            [ngStyle]="{'opacity': activePane === 'right' ? 1 : 1}"
            (click)="activePane = 'right'">right
    </button>
  </mat-card>
  <!--------------
  --
  --------------->
  <app-hammer-card></app-hammer-card>
</main>
