@use '~@angular/material' as mat;
//
/*$razroo-background-yellow: (
  50 : #e7f2f4,
  100 : #c3dee4,
  200 : #9cc8d3,
  300 : #74b2c1,
  400 : #56a2b3,
  500 : #3891a6,
  600 : #32899e,
  700 : #2b7e95,
  800 : #24748b,
  900 : #17627b,
  A100 : #b3eaff,
  A200 : #80dcff,
  A400 : #4dcfff,
  A700 : #33c8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);*/
//
//
//
//
//
//
//
/*$alex-theme-background: (
  status-bar: map_get(mat.$yellow-palette, 300),
  card: map_get(mat.$yellow-palette, 500),
  dialog: map_get(mat.$yellow-palette, 500),
  disabled-button: rgba(map_get(mat.$yellow-palette, 500), 0.12), raised-button: map_get(mat.$yellow-palette, 500),
  focused-button: $dark-focused,
  selected-button: map_get(mat.$yellow-palette, 300),
  disabled-button: rgba(black, 0.12),
  selected-disabled-button: map_get(mat.$blue-palette, 400),
  disabled-button-toggle: map_get(mat.$blue-palette, 200),
  unselected-chip: map_get(mat.$yellow-palette, 300),
  disabled-list-option: map_get(mat.$yellow-palette, 200),
);*/
// copied from light theme
/*$alex-theme-background: (
  status-bar: map-get(mat.$yellow-palette, 300),
  app-bar:    map-get(mat.$yellow-palette, 100),
  background: map-get(mat.$yellow-palette, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map-get(mat.$yellow-palette, 300),
  selected-disabled-button: map-get(mat.$yellow-palette, 400),
  disabled-button-toggle: map-get(mat.$yellow-palette, 200),
  unselected-chip: map-get(mat.$yellow-palette, 300),
  disabled-list-option: map-get(mat.$yellow-palette, 200),
  tooltip: map-get(mat.$yellow-palette, 700),
);*/
// copied from dark theme
$alex-theme-background: (
  status-bar: yellow,
  app-bar:    map-get(mat.$yellow-palette, 900),
  background: yellow,
  hover:      rgba(yellow, 0.04), // TODO(kara): check style with Material Design UX
  card:       map-get(mat.$yellow-palette, 800),
  dialog:     map-get(mat.$yellow-palette, 800),
  disabled-button: rgba(yellow, 0.12),
  raised-button: map-get(mat.$yellow-palette, 800),
  focused-button: mat.$yellow-palette,
  selected-button: map-get(mat.$yellow-palette, 900),
  selected-disabled-button: map-get(mat.$yellow-palette, 800),
  disabled-button-toggle: yellow,
  unselected-chip: map-get(mat.$yellow-palette, 700),
  disabled-list-option: yellow,
  tooltip: map-get(mat.$yellow-palette, 700),
);
// copied from light theme
$alex-theme-foreground: (
  base:              black,
  divider:           black,
  dividers:          black,
  disabled:          #333333,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     #333333,
  elevation:         black,
  hint-text:         #333333,
  secondary-text:    #666666,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);
// copied from dark theme
/*$alex-theme-foreground: (
  base:              white,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-secondary-text,
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);*/
/*map_get($razroo-background-yellow , map_get($razroo-background-yellow),
map_get($razroo-background-yellow , rgba(map_get($razroo-background-yellow, 500), 0.04),*/
//
@function alex-theme($primary, $accent, $warn: mat.define-palette(mat.$red-palette)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $alex-theme-foreground,
    background: $alex-theme-background
  );
}
