@use '~@angular/material' as mat;
$colibri-primary: mat.define-palette(mat.$blue-grey-palette);
$colibri-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
//
$colibri-light-theme: mat.define-light-theme((
  color: (
    primary: $colibri-primary,
    accent: $colibri-accent
  )
));
//
$colibri-dark-theme: mat.define-dark-theme((
  color: (
    primary: $colibri-primary,
    accent: $colibri-accent
  )
));
//
// $alex-theme: alex-theme(
//     $colibri-primary,
//     $colibri-accent
// );
//
.colibri-light-theme {
  @include custom-theme($colibri-light-theme);
}
//
.colibri-dark-theme {
  @include custom-theme($colibri-dark-theme);
}
//
// .colibri-yellow-theme {
//   @include custom-theme($alex-theme);
// }

