@use '~@angular/material' as mat;
$asterix-1-theme-background: (
  status-bar: yellow,
  app-bar:    map-get(mat.$yellow-palette, 900),
  background: map-get(mat.$amber-palette, 100), // alex
  hover:      rgba(yellow, 0.04), // TODO(kara): check style with Material Design UX
  card:       map-get(mat.$amber-palette, 200),
  dialog:     map-get(mat.$yellow-palette, 800),
  disabled-button: rgba(yellow, 0.12),
  raised-button: map-get(mat.$yellow-palette, 800),
  focused-button: #dddddd,
  selected-button: map-get(mat.$amber-palette, 300),
  selected-disabled-button: map-get(mat.$yellow-palette, 800),
  disabled-button-toggle: yellow,
  unselected-chip: map-get(mat.$yellow-palette, 700),
  disabled-list-option: yellow,
  tooltip: map-get(mat.$yellow-palette, 700),
);

$asterix-1-theme-foreground: (
  base:              black,
  divider:           #333333,
  dividers:          #333333,
  disabled:          #666666,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     #666666,
  elevation:         black,
  hint-text:         #666666,
  secondary-text:    #999999,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

@function asterix-1-theme($primary, $accent, $warn: mat.define-palette(mat.$red-palette)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $asterix-1-theme-foreground,
    background: $asterix-1-theme-background
  );
}
