<main [ngStyle]="{'padding': '5px'}">
  <mat-card>
    <mat-card-content [ngStyle]="{'text-align': 'center', 'margin-bottom': '5px'}">
      {{result}}
    </mat-card-content>
    <mat-card-content [ngStyle]="{'text-align': 'center', 'margin-bottom': '10px'}">
      <button mat-raised-button
              appHammerTime
              [color]="button_color"
              (mousedown)="touch_start('mousedown')"
              (touchstart)="touch_start('touchstart')"
              (mouseup)="touch_end('mouseup')"
              (doubleTap)="double_tap('jello')">
        touch
      </button>
    </mat-card-content>
    <mat-card-content [ngStyle]="{'text-align': 'center'}">
      <button mat-raised-button
              [color]="'warn'"
              (click)="result = '...'; result_id = null; clear_timeout()">
        clear
      </button>
    </mat-card-content>
  </mat-card>
</main>
