<mat-card class="example-card"
          [ngStyle]="{  'text-align': 'left',
                        'cursor': 'pointer',
                        'position': 'relative',
                        'display': 'flex',
                        'justify-content': 'center',
                        'align-items': 'center'}"
          [@cardAnimator]="animationState"
          (@cardAnimator.done)="resetAnimationState()"
          (swipeleft)="startAnimation('slideOutLeft')"
          (swiperight)="startAnimation('zoomOutRight')"
          (swipeup)="startAnimation('rotateOutUpRight')"
          (swipedown)="startAnimation('flipOutY')">
  <!--<mat-card-actions>-->
  <!--[ngStyle]="{ 'position': 'absolute',
                    'right': '5px'}"-->
  <button mat-raised-button
          color="primary"
          style="margin-right: 5px;"
          (tap)="startAnimation('wobble')">
    a)
  </button>
  <button mat-raised-button
          color="primary"
          style="margin-right: 5px;"
          (tap)="startAnimation('swing')">
    b)
  </button>
  <button mat-raised-button
          color="primary"
          style="margin-right: 20px;"
          (tap)="startAnimation('jello')">
    c)
  </button>
  <div>
    <mat-icon>
      swipe
    </mat-icon>
    swipable (down,left,right,up)
  </div>
</mat-card>
