/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  border: 0px solid green;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
